﻿@{
    ViewData["Title"] = "Number of products";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form method="post" action="https://localhost:7183/App/ProductsNumber" style="display:flex; align-items:center; justify-content:center; flex-direction:column; gap:15px">
        <div style="width:290px; display:flex; justify-content:space-between; align-items:center">
            <label for="numProd" style="text-align:left">
                Number of products
            </label>
            <input name="numProd" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
