﻿@{
    ViewData["Title"] = "Products";
    List < ProductViewModel >? products = ViewData["Products"] as List<ProductViewModel>;
}
<h1>@ViewData["Title"]</h1>



<table>
    <tr>
            <thead>Size</thead>
            <thead>Name</thead>
            <thead>Count</thead>
    </tr>
    @foreach (var item in products)
    {
        <tr>
            <td>@item.Size</td>
            <td>@item.Name</td>
            <td>@item.Count</td>
        </tr>
    }

</table>