﻿@{
    ViewData["Title"] = "Enter your order";
    int? numProd = ViewData["NumProd"] as int?;
}

@model List<ProductViewModel>

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("FormResult", "App", FormMethod.Post, new { id = "checkoutForm" }))
{
    @for (int i = 0; i < numProd; i++)
    {
        <div class="text-center" style="border: 1px solid black; margin-top:15px; padding:10px">
            <div  style="display:flex; align-items:center; justify-content:center; flex-direction:column; gap:15px">
                <div style="width:270px; display:flex; justify-content:space-between; align-items:center">
                    <label for="Size" style="text-align:left">
                        Size of pizza
                    </label>
                    <input  name="Products[@i].Size" />
                </div>
                <div style="width:270px; display:flex; justify-content:space-between; align-items:center">
                    <label for="Name" style="text-align:left">
                        Name of pizza
                    </label>
                    <input name="Products[@i].Name" type="text" />
                </div>
                <div style="width:270px; display:flex; justify-content:space-between; align-items:center">
                    <label for="Count" style="text-align:left">
                        Count of pizza
                    </label>
                    <input name="Products[@i].Count" />
                </div>
            </div>
        </div>
    }
    <button type="submit">Submit</button>
}




