﻿@{
    ViewData["Title"] = "Registration Page";
}
@model UserViewModel

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form method="post" action="https://localhost:7183/App/Register" style="display:flex; align-items:center; justify-content:center; flex-direction:column; gap:15px">
        <div style="width:270px; display:flex; justify-content:space-between; align-items:center">
        <label for="email" style="text-align:left">
            E-mail
        </label>
        <input name="email"/>
        </div>
        <div style="width:270px; display:flex; justify-content:space-between; align-items:center">
        <label for="password" style="text-align:left">
            Password
        </label>
        <input name="password" type="password" />
        </div>
        <div style="width:270px; display:flex; justify-content:space-between; align-items:center">
        <label for="count" style="text-align:left">
            Age
        </label>
        <input name="age" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
